Projects/Week_11_node_red/lamp_dashboard/flow.json
[
  {
      "id": "a1f2c1b6d9e00100",
      "type": "tab",
      "label": "Лампа",
      "disabled": false,
      "info": ""
  },
  {
      "id": "ui_switch_power",
      "type": "ui-switch",
      "z": "a1f2c1b6d9e00100",
      "name": "Лампа",
      "label": "Вкл/Выкл",
      "group": "ui_group_main_ctrl",
      "order": 1,
      "width": "3",
      "height": "1",
      "passthru": false,
      "decouple": false,
      "topic": "topic",
      "topicType": "msg",
      "style": "",
      "className": "",
      "layout": "row-spread",
      "clickableArea": "switch",
      "onvalue": "true",
      "onvalueType": "bool",
      "onicon": "",
      "oncolor": "",
      "offvalue": "false",
      "offvalueType": "bool",
      "officon": "",
      "offcolor": "",
      "x": 210,
      "y": 100,
      "wires": [
          [
              "fn_bool_to_onoff"
          ]
      ]
  },
  {
      "id": "fn_bool_to_onoff",
      "type": "function",
      "z": "a1f2c1b6d9e00100",
      "name": "PowerToTopic",
      "func": "msg.topic = \"iot_practice/5404/lamp\";\nmsg.payload = msg.payload ? \"on\" : \"off\";\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 430,
      "y": 100,
      "wires": [
          [
              "mqtt_out_power"
          ]
      ]
  },
  {
      "id": "mqtt_out_power",
      "type": "mqtt out",
      "z": "a1f2c1b6d9e00100",
      "name": "MQTT lamp",
      "topic": "",
      "qos": "1",
      "retain": "false",
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "cfg_broker_local",
      "x": 650,
      "y": 100,
      "wires": []
  },
  {
      "id": "ui_slider_brightness",
      "type": "ui-slider",
      "z": "a1f2c1b6d9e00100",
      "group": "ui_group_slider",
      "name": "Яркость",
      "label": "Уровень яркости",
      "order": 1,
      "width": "12",
      "height": "1",
      "passthru": true,
      "outs": "all",
      "topic": "topic",
      "topicType": "msg",
      "thumbLabel": true,
      "showTicks": "always",
      "min": "0",
      "max": "100",
      "step": "1",
      "className": "",
      "iconPrepend": "",
      "iconAppend": "",
      "color": "",
      "colorTrack": "",
      "colorThumb": "",
      "showTextField": false,
      "x": 210,
      "y": 160,
      "wires": [
          [
              "fn_value_topic"
          ]
      ]
  },
  {
      "id": "fn_value_topic",
      "type": "function",
      "z": "a1f2c1b6d9e00100",
      "name": "ValueToTopic",
      "func": "msg.topic = \"iot_practice/5404/lamp/value\";\nmsg.payload = Number(msg.payload);\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 430,
      "y": 160,
      "wires": [
          [
              "mqtt_out_power"
          ]
      ]
  },
  {
      "id": "ui_colour_picker",
      "type": "ui-dropdown",
      "z": "a1f2c1b6d9e00100",
      "group": "ui_group_main_ctrl",
      "name": "Цвет",
      "label": "RGB цвет",
      "order": 2,
      "width": "3",
      "height": "1",
      "passthru": true,
      "multiple": false,
      "chips": false,
      "clearable": false,
      "options": [
          {
              "label": "Белый",
              "value": "#FFFFFF",
              "type": "str"
          },
          {
              "label": "Теплый",
              "value": "#FFD28A",
              "type": "str"
          },
          {
              "label": "Красный",
              "value": "#FF0000",
              "type": "str"
          },
          {
              "label": "Зеленый",
              "value": "#00FF00",
              "type": "str"
          },
          {
              "label": "Синий",
              "value": "#0000FF",
              "type": "str"
          }
      ],
      "payload": "",
      "topic": "topic",
      "topicType": "msg",
      "className": "",
      "typeIsComboBox": false,
      "msgTrigger": "onChange",
      "x": 190,
      "y": 220,
      "wires": [
          [
              "fn_color_topic"
          ]
      ]
  },
  {
      "id": "fn_color_topic",
      "type": "function",
      "z": "a1f2c1b6d9e00100",
      "name": "ColorToTopic",
      "func": "msg.topic = \"iot_practice/5404/lamp/color\";\nif (typeof msg.payload === \"string\") {\n    msg.payload = msg.payload.toUpperCase();\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 430,
      "y": 220,
      "wires": [
          [
              "mqtt_out_power"
          ]
      ]
  },
  {
      "id": "ui_dropdown_scene",
      "type": "ui-dropdown",
      "z": "a1f2c1b6d9e00100",
      "group": "ui_group_main_ctrl",
      "name": "Сцена",
      "label": "Сцена",
      "order": 3,
      "width": "3",
      "height": "1",
      "passthru": true,
      "multiple": false,
      "chips": false,
      "clearable": false,
      "options": [
          {
              "label": "adaptive",
              "value": "adaptive",
              "type": "str"
          },
          {
              "label": "meeting",
              "value": "meeting",
              "type": "str"
          },
          {
              "label": "relax",
              "value": "relax",
              "type": "str"
          },
          {
              "label": "emergency",
              "value": "emergency",
              "type": "str"
          }
      ],
      "payload": "",
      "topic": "topic",
      "topicType": "msg",
      "className": "",
      "typeIsComboBox": false,
      "msgTrigger": "onChange",
      "x": 190,
      "y": 280,
      "wires": [
          [
              "fn_scene_topic"
          ]
      ]
  },
  {
      "id": "fn_scene_topic",
      "type": "function",
      "z": "a1f2c1b6d9e00100",
      "name": "SceneToTopic",
      "func": "msg.topic = \"iot_practice/5404/lamp/scene\";\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 420,
      "y": 280,
      "wires": [
          [
              "mqtt_out_power"
          ]
      ]
  },
  {
      "id": "mqtt_in_value",
      "type": "mqtt in",
      "z": "a1f2c1b6d9e00100",
      "name": "lamp/value in",
      "topic": "iot_practice/5404/lamp/value",
      "qos": "1",
      "datatype": "auto-detect",
      "broker": "cfg_broker_local",
      "nl": false,
      "rap": true,
      "rh": 0,
      "inputs": 0,
      "x": 180,
      "y": 340,
      "wires": [
          [
              "ui_chart_brightness"
          ]
      ]
  },
  {
      "id": "ui_chart_brightness",
      "type": "ui-chart",
      "z": "a1f2c1b6d9e00100",
      "group": "ui_group_chart",
      "name": "Уровень яркости",
      "label": "Уровень яркости",
      "order": 1,
      "chartType": "line",
      "category": "topic",
      "categoryType": "msg",
      "xAxisLabel": "",
      "xAxisProperty": null,
      "xAxisPropertyType": "timestamp",
      "xAxisType": "time",
      "xAxisFormat": "",
      "xAxisFormatType": "auto",
      "yAxisLabel": "",
      "yAxisProperty": "payload",
      "yAxisPropertyType": "msg",
      "ymin": "0",
      "ymax": "100",
      "action": "append",
      "stackSeries": false,
      "pointShape": "circle",
      "pointRadius": 4,
      "showLegend": true,
      "removeOlder": "1",
      "removeOlderUnit": "3600",
      "removeOlderPoints": "",
      "colors": [
          "#0095FF",
          "#FF0000",
          "#FF7F0E",
          "#2CA02C",
          "#A347E1",
          "#D62728",
          "#FF9896",
          "#9467BD",
          "#C5B0D5"
      ],
      "textColor": [
          "#666666"
      ],
      "textColorDefault": true,
      "gridColor": [
          "#e5e5e5"
      ],
      "gridColorDefault": true,
      "width": "9",
      "height": "4",
      "interpolation": "linear",
      "x": 430,
      "y": 340,
      "wires": [
          []
      ]
  },
  {
      "id": "mqtt_in_sensor",
      "type": "mqtt in",
      "z": "a1f2c1b6d9e00100",
      "name": "sensor light in",
      "topic": "iot_practice/5404/sensor/physical_light",
      "qos": "1",
      "datatype": "auto-detect",
      "broker": "cfg_broker_local",
      "nl": false,
      "rap": true,
      "rh": 0,
      "inputs": 0,
      "x": 170,
      "y": 420,
      "wires": [
          [
              "fn_convert_sensor"
          ]
      ]
  },
  {
      "id": "fn_convert_sensor",
      "type": "function",
      "z": "a1f2c1b6d9e00100",
      "name": "Convert",
      "func": "if (typeof msg.payload === \"string\") {\n    let parsed;\n    try {\n        parsed = JSON.parse(msg.payload);\n    } catch (e) {\n        // Если пришло обычное число строкой, продолжаем как есть.\n        parsed = Number(msg.payload);\n    }\n\n    if (typeof parsed === \"number\" && Number.isFinite(parsed)) {\n        msg.payload = parsed;\n        return msg;\n    }\n\n    if (parsed && Array.isArray(parsed.values) && parsed.values.length > 0) {\n        msg.payload = Number(parsed.values[0]);\n        return Number.isFinite(msg.payload) ? msg : null;\n    }\n\n    return null;\n}\n\nmsg.payload = Number(msg.payload);\nreturn Number.isFinite(msg.payload) ? msg : null;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 350,
      "y": 420,
      "wires": [
          [
              "fn_dimmer"
          ]
      ]
  },
  {
      "id": "fn_dimmer",
      "type": "function",
      "z": "a1f2c1b6d9e00100",
      "name": "Dimmer",
      "func": "let sensorMax = 10000;\nlet sensor = Math.floor(Number(msg.payload));\nif (!Number.isFinite(sensor)) {\n    return null;\n}\n\nsensor = Math.max(0, Math.min(sensorMax, sensor));\nlet val = sensorMax - sensor;\nmsg.topic = \"iot_practice/5404/lamp/value\";\nmsg.payload = Math.floor((100.0 / sensorMax) * val);\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 550,
      "y": 420,
      "wires": [
          [
              "mqtt_out_power"
          ]
      ]
  },
  {
      "id": "ui_group_main_ctrl",
      "type": "ui-group",
      "name": "Основное управление",
      "page": "ui_page_lamp",
      "width": "3",
      "height": "4",
      "order": 2,
      "showTitle": true,
      "className": "",
      "visible": true,
      "disabled": false
  },
  {
      "id": "cfg_broker_local",
      "type": "mqtt-broker",
      "name": "emqx_local",
      "broker": "172.30.0.10",
      "port": "1883",
      "clientid": "nodered-week11-lamp",
      "autoConnect": true,
      "usetls": false,
      "protocolVersion": "4",
      "keepalive": "60",
      "cleansession": true
  },
  {
      "id": "ui_group_slider",
      "type": "ui-group",
      "name": "Яркость",
      "page": "ui_page_lamp",
      "width": "12",
      "height": "1",
      "order": 3,
      "showTitle": true,
      "className": "",
      "visible": true,
      "disabled": false
  },
  {
      "id": "ui_group_chart",
      "type": "ui-group",
      "name": "График",
      "page": "ui_page_lamp",
      "width": "9",
      "height": "4",
      "order": 1,
      "showTitle": false,
      "className": "",
      "visible": true,
      "disabled": false
  },
  {
      "id": "ui_page_lamp",
      "type": "ui-page",
      "name": "Управление лампой",
      "ui": "ui_base_main",
      "path": "/lamp",
      "icon": "lightbulb",
      "layout": "grid",
      "theme": "ui_theme_default",
      "breakpoints": [
          {
              "name": "Default",
              "px": "0",
              "cols": "12"
          }
      ],
      "order": 1,
      "className": "",
      "visible": true,
      "disabled": false
  },
  {
      "id": "ui_base_main",
      "type": "ui-base",
      "name": "My Dashboard",
      "path": "/dashboard",
      "includeClientData": true,
      "acceptsClientConfig": [
          "ui-notification",
          "ui-control"
      ],
      "showPathInSidebar": false
  },
  {
      "id": "ui_theme_default",
      "type": "ui-theme",
      "name": "Default Theme",
      "colors": {
          "surface": "#ffffff",
          "primary": "#0094ce",
          "bgPage": "#f5f5f5",
          "groupBg": "#ffffff",
          "groupOutline": "#cccccc"
      }
  },
  {
      "id": "42be37c3092cc557",
      "type": "global-config",
      "env": [],
      "modules": {
          "@flowfuse/node-red-dashboard": "1.30.2"
      }
  }
]