Projects/Week_12/flow.json
[
  {
    "id": "tab_week12_meteo",
    "type": "tab",
    "label": "Week_12 Meteo Grafana",
    "disabled": false,
    "info": "Симулятор метеоданных, публикация в MQTT и запись в InfluxDB через HTTP API"
  },
  {
    "id": "inject_meteo_30s",
    "type": "inject",
    "z": "tab_week12_meteo",
    "name": "Generate meteo every 30s",
    "props": [{ "p": "payload" }],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 180,
    "wires": [["fn_generate_meteo"]]
  },
  {
    "id": "fn_generate_meteo",
    "type": "function",
    "z": "tab_week12_meteo",
    "name": "Generate temperature & humidity",
    "func": "// Генерируем данные, совместимые с методичкой: отдельные топики для температуры и влажности.\nconst now = new Date().toISOString();\nconst temp = Number((19.5 + Math.random()).toFixed(2));\nconst hum = Number((58 + (5 * Math.random())).toFixed(2));\nreturn [\n  { topic: \"iot_practice/sim/temperature\", payload: temp, ts: now },\n  { topic: \"iot_practice/sim/humidity\", payload: hum, ts: now }\n];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 180,
    "wires": [
      ["mqtt_out_temp", "fn_temp_to_influx", "debug_temp"],
      ["mqtt_out_hum", "fn_hum_to_influx", "debug_hum"]
    ]
  },
  {
    "id": "mqtt_out_temp",
    "type": "mqtt out",
    "z": "tab_week12_meteo",
    "name": "MQTT temperature out",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cfg_broker_week12",
    "x": 780,
    "y": 110,
    "wires": []
  },
  {
    "id": "mqtt_out_hum",
    "type": "mqtt out",
    "z": "tab_week12_meteo",
    "name": "MQTT humidity out",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cfg_broker_week12",
    "x": 770,
    "y": 250,
    "wires": []
  },
  {
    "id": "fn_temp_to_influx",
    "type": "function",
    "z": "tab_week12_meteo",
    "name": "Build Influx write (temperature)",
    "func": "// Формируем Line Protocol и заголовки для записи в InfluxDB 2.x API.\nmsg.method = \"POST\";\nmsg.url = \"http://influxdb:8086/api/v2/write?org=iot&bucket=meteo&precision=ms\";\nmsg.headers = {\n  \"Authorization\": \"Token __INFLUX_TOKEN__\",\n  \"Content-Type\": \"text/plain; charset=utf-8\"\n};\nmsg.payload = `temperature value=${Number(msg.payload)}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 790,
    "y": 150,
    "wires": [["http_write_influx", "debug_write_temp"]]
  },
  {
    "id": "fn_hum_to_influx",
    "type": "function",
    "z": "tab_week12_meteo",
    "name": "Build Influx write (humidity)",
    "func": "// Формируем отдельную запись по влажности в тот же bucket.\nmsg.method = \"POST\";\nmsg.url = \"http://influxdb:8086/api/v2/write?org=iot&bucket=meteo&precision=ms\";\nmsg.headers = {\n  \"Authorization\": \"Token __INFLUX_TOKEN__\",\n  \"Content-Type\": \"text/plain; charset=utf-8\"\n};\nmsg.payload = `humidity value=${Number(msg.payload)}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 290,
    "wires": [["http_write_influx", "debug_write_hum"]]
  },
  {
    "id": "http_write_influx",
    "type": "http request",
    "z": "tab_week12_meteo",
    "name": "InfluxDB write API",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1110,
    "y": 220,
    "wires": [["debug_influx_response"]]
  },
  {
    "id": "debug_temp",
    "type": "debug",
    "z": "tab_week12_meteo",
    "name": "temp debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 770,
    "y": 70,
    "wires": []
  },
  {
    "id": "debug_hum",
    "type": "debug",
    "z": "tab_week12_meteo",
    "name": "hum debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 760,
    "y": 330,
    "wires": []
  },
  {
    "id": "debug_write_temp",
    "type": "debug",
    "z": "tab_week12_meteo",
    "name": "temp write payload",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1100,
    "y": 150,
    "wires": []
  },
  {
    "id": "debug_write_hum",
    "type": "debug",
    "z": "tab_week12_meteo",
    "name": "hum write payload",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1090,
    "y": 290,
    "wires": []
  },
  {
    "id": "debug_influx_response",
    "type": "debug",
    "z": "tab_week12_meteo",
    "name": "influx write response",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "statusCode",
    "targetType": "msg",
    "x": 1330,
    "y": 220,
    "wires": []
  },
  {
    "id": "cfg_broker_week12",
    "type": "mqtt-broker",
    "name": "emqx_local_week12",
    "broker": "172.30.0.10",
    "port": "1883",
    "clientid": "nodered-week12-meteo",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  }
]
